
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;

}



body {
    background-image: url(Hardtalk-Victory.jpg);

    background-size: cover; /*mdn*/

    background-position: center center;
    
    display:flex; /*mdn*/ 

    flex-direction: column; /*mdn*/ 

    align-items: center; /***/

   /*  justify-content: center;**/


    min-height: 100vh;

    font-family: 'Stick No Bills', sans-serif;
    margin: 0;

}


h1 {
    font-weight: bolder;
    font-size: 4rem; /*mdn*/
    align-items: right; /***/

  margin-top: -0.5rem;
}

.countdown-container {
    display: flex;

}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0;
}

.countdown-e1 {
    text-align: center; 
    margin-left: 10px;/**/

}

.countdown-e1 span {
    font-size: 1.4rem;
}


